{% extends 'base.html' %}
{% block content %}
<h2>My tasks</h2>
<div>
    {% for task in task_list %}
    <div>
        <p><strong>{{task.name}}: </strong>{{task.description}}</p>
        <p>Done: {{task.done}}</p>
        <!--Provide form to update status if task is not done-->
        <form method="post" action="{% url 'update_status' task.id %}">
            {% csrf_token %}
            <input type="submit" value="Toggle Status">
        </form>
        <!--END: Provide form to update status if task is not done-->
        <button onclick="location.href='{% url 'edit_task' task.id %}'">Edit</button>
    </div>
    {% empty %}
    <p> Your task list is empty.</p>
    {% endfor %}
    <p><a href="{% url 'add_task' %}">Add a task</a></p>
<div>
{% endblock %}